:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
body {
  background-color: cadetblue;
  padding: 10px;
}
.main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 10px;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.questions {
  width: 75%;
  padding: 10px;
}
.controllers {
  display: flex;
  margin-top: 30px;
}
button {
  width: 100%;
  margin: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(88, 141, 143);
  border: 0;
  padding: 10px;
  border-radius: 7px;
}
button:hover {
  background-color: rgb(0, 109, 163);
  transition: all 0.5s;
  box-shadow: 2px 5px 22px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 5px 22px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 22px -6px rgba(0, 0, 0, 0.75);
}
.Slide {
  width: 25%;
}
@media screen and (max-width: 645px) {
  .questions {
    width: 100%;
  }
  .Slide {
    display: none;
  }
}
