.section {
  display: none;
}
.active {
  display: unset;
}
input {
  width: 100%;
  max-width: 400px;
  height: 35px;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  border: 1px solid slategrey;
}
input:focus {
  border: 1px solid slategrey;
  outline: 1px;
}
select {
  border: 1px solid slategrey;
  width: 100%;
  max-width: 300px;
  height: 40px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 213, 213);
  padding: 5px;
  line-height: 2;
  cursor: pointer;

}

